# SQL Server - Les basiques

## Qu'est-ce qu'un Système de Gestion de Base de Données (SGBD)

Un SGBD est un logiciel qui va vous permettre de **manipuler les données d'une base**. C'est lui qui commande les intéractions avec celle-ci (ajouter, modifier ou supprimer des données).

Pour communiquer/interagir avec votre base, les SGBD (relationnels) vont utiliser un langage : **Le SQL (ou Structured Query Language)**. Ce langage a été normalisé en 1986 et chaque SGBD utilise donc une base commune. Cependant, certains systèmes implémentes des fonctionnalités spécifiques avec des donc des extensions du langage.

## Les bases

Pour avoir une base de données facilement, vous pouvez utiliser Docker et la commande suivante (en partant de ce dossier)

```
docker run -e ACCEPT_EULA=Y -e SA_PASSWORD=P@ssw0rd -p 1433:1433 -v $(pwd)/data:/var/opt/mssql/backup mcr.microsoft.com/mssql/server:2019-latest
```

### Les types de commandes SQL

Les commandes SQL sont réparties en plusieurs types afin que l'on puisse facilement identifier leur impact sur la base de données.

- **DDL (Data Definition Language)** : Le DDL va permettre de gérer la structure de la base (modification/création/suppression d'une table par exemple). Nous y retrouvons les commandes suivantes : CREATE, DROP, ALTER, TRUNCATE. </br></br>
- **DML (Data Manipulation Language)**: Le DML va permettre de gérer les données au sein de notre base (modification/création/suppression de données). Nous y retrouvons les commandes suivantes : INSERT, UPDATE, DELETE, MERGE. </br></br>
- **DCL (Data Control Language)**: Le DCL va permettre de controller l'accès aux données de notre base. Nous y retrouvons les commandes suivantes : GRANT, REVOKE. </br></br>
- **DTL (Data Transaction Language)**: Le DTL va nous permettre de gérer la partie transactionnelle de notre base de données. Quand nous devons effectuer de multiples requêtes afin que les données de notre base soient cohérentes. Nous y retrouvons les commandes suivantes : COMMIT, ROLLBACK, SAVEPOINT. </br></br>
- **DQL (Data Query Language)**: Le DQL va nous permettre de questionner notre base et de récupérer les données qui y sont stockées. Nous y retrouvons les commandes suivantes : SELECT, SHOW, HELP.

### Les principaux types de données

Une base de données peut gérer de nombreux types de données. Les plus communs sont les suivants

- VARCHAR : chaîne de caractères
- INT : Nombre sans virgule
- Date : Date
- Float : Nombre avec virgule
- Boolean : Valeur binaire, TRUE ou FALSE

### Une table

Une table est le rassemblement de données d'un même format (avec les mêmes colonnes, les mêmes règles...) au sein de la base.

### Le schema

Le schéma permet d'avoir une séparation logique entre les tables d'une même base. Le principe est de pouvoir isoler certaines domaines et d'y appliquer une politique de sécurité différente par exemple. Une table se retrouve toujours préfixé par son schema.

```
ex: Security.Users
```

Le schéma ici est "Security" et la table est "Users".

## LE DDL

### Créer une table

Créer une table fonctionne de la manière suivante

```
CREATE TABLE table_name (
  column1 datatype,
  column2 datatype,
  column3 datatype
);
```

Viendra s'ajouter un certains nombre de mots clés au niveau des colonnes afin de spécifié une contrainte, un comportement. Par exemple :

```
CREATE TABLE student (
  id INTEGER PRIMARY KEY,
  name TEXT UNIQUE,
  grade INTEGER NOT NULL,
  age INTEGER DEFAULT 10
);
```

### Modifier une table

Lorsqu'une colonne manque à une table, nous pouvons utiliser la notion d'ALTER de la manière suivante

```
ALTER TABLE table_name
ADD column_name datatype;
```

### Supprimer une table

Pour supprimer une table, nous utilisons la commande suivante :

```
DROP TABLE table_name
```

## Le DML

### Insérer des données

Pour insérer des données dans une table nous utilisons la clause INSERT INTO

```
-- Insert into columns in order:
INSERT INTO table_name
VALUES (value1, value2);
 
-- Insert into columns by name:
INSERT INTO table_name (column1, column2)
VALUES (value1, value2);
```

### Supprimer des données

Pour supprimer des données, nous utilisons la commande suivante. **Attention à bien mettre une clause where, sous peine de vider la table**.

```
DELETE FROM table_name
WHERE some_column = some_value;
```

## Queries

SELECT name AS 'movie_title'
FROM movies;

SELECT model 
FROM cars 
WHERE color = 'blue' 
  AND year > 2014;

SELECT name
FROM customers 
WHERE state = 'CA' 
   OR state = 'NY';

SELECT name
FROM movies
WHERE name LIKE 'Star%';

SELECT *
FROM contacts
ORDER BY birth_date DESC;

SELECT DISTINCT city
FROM contact_details;

SELECT *
FROM movies
WHERE year BETWEEN 1980 AND 1990;

SELECT *
FROM movies
LIMIT 5;

SELECT address
FROM records
WHERE address IS NOT NULL;

SELECT title
FROM library
WHERE pub_year = 2017;

SELECT MAX(amount) 
FROM transactions;

SELECT SUM(salary)
FROM salary_disbursement;

SELECT COUNT(*)
FROM employees
WHERE experience < 5;

SELECT rating, 
   COUNT(*) 
FROM movies 
GROUP BY rating;

SELECT MIN(amount) 
FROM transactions;

SELECT AVG(salary)
FROM employees
WHERE experience < 5;

SELECT year, 
   COUNT(*) 
FROM movies 
GROUP BY year
HAVING COUNT(*) > 5;

Tables

SELECT * 
FROM books
JOIN authors
  ON books.author_id = authors.id;

## Exercice

1. Retrouver le prénom et l'adresse email du client qui a pour nom de compagnie, 'Bike World' 
<br/><br/>

2. Retrouver les noms de compagnies qui ont pour ville 'Dallas'
<br/><br/>

3. Combien de produits avec un prix > 1000$ ont été vendues
<br/><br/>

4. Retrouver les companies dont les clients  ont commandés pour plus de 10.000$ (en incluant le sous-total, les taxes et les frais de transport)
<br/><br/>

5. Retrouver le nombre de chaussettes de courses restantes, commandées par la société 'Riding Cycles'
<br/><br/>

6. Une « commande d'article unique » est une commande client pour laquelle un seul article est commandé. Affichez le SalesOrderID et le UnitPrice pour chaque commande d'article unique.
<br/><br/>

7. Retrouvez le nom du produit et le nom de la compagnie pour les clients ayant commandés le produit 'Racing Socks'
<br/><br/>

8. Retrouver la description du produit avec l'identifiant 736 pour la langue française.
<br/><br/>

9. En utilisant le SubTotal value dans SaleOrderHeader, lister les commandes de la plus petite à la plus grande. Pour chaque commande, listez le nom 
de la compagnie, le sous total et le poids total de la commande
<br/><br/>

10. Retrouver combien de produits avec la catégorie 'Cranksets' ont été vendues à une adresse à Londres.
<br/><br/>

11. Pour chaque client avec un 'Main Office' à Dallas, retrouvez la première ligne de l'adresse de livraison. Si aucune adresse n'existe, laissez là vide. N'ayez qu'une seule ligne par client.
<br/><br/>

12. Pour chaque vente, retrouvez le SalesOrderID et le sous-total, calculé à partir des 3 façons suivantes : depuis le SalesOrderHeader, la somme des OrderQty*UnitPrice et la somme des OrderQty*ListPrice
<br/><br/>

13. Retrouvez l'article le plus vendu, par valeur.
<br/><br/>

14. Retrouvez combien de commandes sont dans les intervals suivants : 0-99, 100-999, 1000-9999, 10000
<br/><br/>

15. Retrouvez les trois villes les plus importantes. Affichez la répartition de la catégorie de produits de premier niveau par rapport à chaque ville.
<br/><br/>